@model BookMovie.Models.DatVe

@{
    ViewData["Title"] = "Book";
}

<h1>Book</h1>

<h4>DatVe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Book">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="sdt" class="control-label">So dien thoai</label>
                <input asp-for="sdt" class="form-control" />
                <span asp-validation-for="sdt" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="sove" class="control-label">So luong ve</label>
                <input asp-for="sove" class="form-control" />
                <span asp-validation-for="sove" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tenrap" class="control-label">Ma lich chieu</label>
                <input asp-for="tenrap" class="form-control" />
                <span asp-validation-for="tenrap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Book" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
